<!DOCTYPE html>
<html>
  <head>
    <title>RsvpWedding</title>
      <meta name="robots" content="NOINDEX, NOFOLLOW">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Dancing+Script" %>
    	<%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Varela+Round" %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="pg-header">
      <div class="container-fluid">
        <h1>Marcos & Lizzy's Wedding</h1>
        <h3>Reception date: January 20th</h3>
      </div>
    </div>
  	<div class="container">
  		<div class="jumbotron">
  		    <%= yield %>
  		</div>
	  </div>
  <footer>
    Copyright &copy; <%= DateTime.now.strftime('%Y') %> Marcos Icaza
  </footer>
  </body>
</html>
